html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.btn-outline-success {
  color:
}

.btn-outline-success:hover {
  color:
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  max-height: 800px;
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  height: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform .6s ease-in-out;
}

.carousel-item.active {
  display: block;
}

.first-img {
  width: 100vw;
}

footer {
  background: #070070;
  font-size: 14px;
  color: white;
}

.first-line {
    color: white;
    border-bottom: 1px solid #c2c6ff;
}


.second-line a {
    color: white;
    text-decoration: none;
}


.third-line{
  display :none;
}
@media screen and (max-width: 48rem){
  .first-line{
    text-align: center;
  }

  .second-line{
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: 1px solid #c2c6ff;
    
  }

  .third-line{
    display: block;
    padding-left: 2rem;
  }
}